#textdomain wesnoth-h2tt

#define SCENARIO_TURN_LIMIT
15#enddef


[scenario]
    id,name=31_Plunging_Into_Darkness,_"Plunging Into Darkness"
    next_scenario,victory_when_enemies_defeated=32_The_Swamp_of_Dread,no
    turns={SCENARIO_TURN_LIMIT}
    {SCENARIO_MUSIC frantic.ogg}
    
    # This is a custom schedule that gives everything a slight
    # reddish hue and gently pulsates. -30, -40, -40 are default
    # values that look good
#define UNDERGROUND_VOLCANO RED GREEN BLUE
    [time]
        id=underground
        name= _ "Underground"
        image=misc/time-schedules/schedule-underground.png
        lawful_bonus=-25
        red,green,blue={RED},{GREEN},{BLUE}
    [/time]
#enddef
    {UNDERGROUND_VOLCANO -27 -37 -37}
    {UNDERGROUND_VOLCANO -28 -38 -38}
    {UNDERGROUND_VOLCANO -32 -42 -42}
    {UNDERGROUND_VOLCANO -36 -46 -46}
    {UNDERGROUND_VOLCANO -37 -47 -47}
    {UNDERGROUND_VOLCANO -36 -46 -46}
    {UNDERGROUND_VOLCANO -32 -42 -42}
    {UNDERGROUND_VOLCANO -28 -38 -38}
    
    #######################################################################################################################################################
    #                                                                   DEFINE SIDES
    #######################################################################################################################################################
#     {KONRAD_SIDE 0 SHROUD=yes FOG=yes}
    {KONRAD_SIDE 0}
    
    #############################
    # GOBLINS
    #############################
    [side]
        side,controller,color=2,ai,black
        no_leader,hidden=yes,yes
    [/side]
    [event]
        name=side 2 turn
        first_time_only=no
        {RESET_SIDE_AI 2 no 1 0}
    [/event]
    
    
    
    
    
    #######################################################################################################################################################
    #                                                                    GENERATE MAP
    #######################################################################################################################################################
#define PASSAGE DESTINATION
#arg WIDTH
5#endarg
#arg WINDINESS
5#endarg
#arg JAGGED
5#endarg
#arg CHANCE
100#endarg
    [passage]
        destination={DESTINATION}
        width={WIDTH}
        windiness={WINDINESS}
        jagged={JAGGED}
        chance={CHANCE}
    [/passage]
#enddef
    map_generation=lua
    [generator]
        id="cavegen"
        config_name=_"Plunging Into Darkness Caves"
        create_map = << return wesnoth.require("cave_map_generator").generate_map(...) >>

        map_width=75
        map_height=20
        village_density=20
        terrain_wall = "Xu"
        terrain_clear = "Uu"
        terrain_keep = "Kud"
        terrain_castle = "Cud"
        terrain_village = "Uu^Vu"
        flipy_chance=50

        #------------------------
        # PLAYER START LOCATION
        #------------------------
        [chamber]
            id=konrad
            x,y=5,5-15
            size=8
            jagged=50
            [item_location]
                id=1
            [/item_location]
        [/chamber]

        #------------------------
        # TWO ANTECHAMBERS
        #------------------------
        [chamber]
            id=ante1
            x,y=10-15,0-7
            size=7
            jagged=50
            {PASSAGE konrad WIDTH=2 WINDINESS=10 JAGGED=10}
        [/chamber]
        [chamber]
            id=ante2
            x,y=10-15,13-20
            size=7
            jagged=50
            {PASSAGE konrad WIDTH=2 WINDINESS=3 JAGGED=1}
            {PASSAGE ante1  WIDTH=1 WINDINESS=9 JAGGED=9}
        [/chamber]
# 
#         #
#         # The central volcano
#         #
#         [chamber]
#             id=center
#             x=25-26
#             y=35-36
#             size=2
#             jagged=1
#             {PASSAGE_NORMAL antechamber_1 1 20 3}
#             {PASSAGE_NORMAL antechamber_2 1 20 3}
#         [/chamber]
# 
#         #
#         # The 5 minichambers encircling the central volcano and a 6th chamber
#         # to serve as the exit
#         #
#         [chamber]
#             id=mini_1
#             x=10-16
#             y=36-40
#             size=5
#             jagged=2
#             {PASSAGE_NORMAL center 1 5 2}
#             {PASSAGE_NORMAL antechamber_1 2 5 2}
#         [/chamber]
#         [chamber]
#             id=mini_2
#             x=8-20
#             y=17-26
#             size=5
#             jagged=3
#             {PASSAGE_NORMAL center 1 5 2}
#             {PASSAGE_NORMAL mini_1 1 5 2}
#         [/chamber]
#         [chamber]
#             id=mini_3
#             x=6-44
#             y=14-30
#             size=3
#             jagged=4
#             {PASSAGE_NORMAL center 1 5 2}
#             {PASSAGE_NORMAL mini_2 2 5 2}
#             [item_location]
#                 id = sceptre
#             [/item_location]
#         [/chamber]
#         [chamber]
#             id=mini_4
#             x=30-42
#             y=17-26
#             size=5
#             jagged=5
#             {PASSAGE_NORMAL center 1 5 2}
#             {PASSAGE_NORMAL mini_3 2 5 2}
#         [/chamber]
#         [chamber]
#             id=mini_5
#             x=34-40
#             y=36-40
#             size=5
#             jagged=5
#             {PASSAGE_NORMAL mini_4 2 5 2}
#             {PASSAGE_NORMAL center 1 5 2}
#             {PASSAGE_NORMAL antechamber_2 2 5 2}
#         [/chamber]
#         [chamber]
#             id=exit
#             x=25
#             y=1
#             size=2
#             jagged=1
#             {PASSAGE_NORMAL mini_2 1 5 2}
#             {PASSAGE_NORMAL mini_3 1 5 2}
#             {PASSAGE_NORMAL mini_4 1 5 2}
#         [/chamber]
# 
#         #
#         # There are 4 chambers for enemies randomly scattered on the map
#         #
#         [chamber]
#             id=enemy_1
#             x=6-15
#             y=45-55
#             size=5
#             jagged=3
#             {PASSAGE_NORMAL mini_1 2 5 2}
#             {PASSAGE_CHANCE 60 mini_2 1 5 2}
#             {PASSAGE_CHANCE 40 antechamber_2 1 5 2}
#             [item_location]
#                 id = 4
#                 place_castle = yes
#             [/item_location]
#         [/chamber]
#         [chamber]
#             id=enemy_2
#             x=6-15
#             y=1-35
#             size=5
#             jagged=3
#             {PASSAGE_NORMAL mini_2 2 5 2}
#             {PASSAGE_NORMAL enemy_1 2 5 5}
#             {PASSAGE_CHANCE 60 mini_1 1 5 2}
#             {PASSAGE_CHANCE 40 mini_3 1 5 2}
#             [item_location]
#                 id = 5
#                 place_castle = yes
#             [/item_location]
#         [/chamber]
#         [chamber]
#             id=enemy_3
#             x=35-45
#             y=1-35
#             size=5
#             jagged=3
#             {PASSAGE_NORMAL mini_4 2 5 2}
#             {PASSAGE_CHANCE 60 mini_5 1 5 2}
#             {PASSAGE_CHANCE 40 mini_3 1 5 2}
#             [item_location]
#                 id = 6
#                 place_castle = yes
#             [/item_location]
#         [/chamber]
#         [chamber]
#             id=enemy_4
#             x=35-45
#             y=45-55
#             size=5
#             jagged=3
#             {PASSAGE_NORMAL mini_5 2 5 2}
#             {PASSAGE_NORMAL enemy_3 2 5 5}
#             {PASSAGE_CHANCE 60 mini_4 1 5 2}
#             {PASSAGE_CHANCE 40 antechamber_2 1 5 2}
#             [item_location]
#                 id = 7
#                 place_castle = yes
#             [/item_location]
#         [/chamber]
    [/generator]
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #######################################################################################################################################################
    #                                                                    PLAY SCENARIO
    #######################################################################################################################################################
    [event]
        name=prestart
    [/event]
    [event]
        name=start
    [/event]
    
    
    
    
    
    #######################################################################################################################################################
    #                                                                    VICTORY / DEFEAT
    #######################################################################################################################################################
[/scenario]

#undef SCENARIO_TURN_LIMIT
#undef PASSAGE_NORMAL
#undef PASSAGE_CHANCE
